#nnryv-open {
  display: grid;
  grid-auto-flow: column;
}

#nnryv-open #button-container {
  align-items: center;
  justify-items: center;
  width: 40px;
}

#nnryv-open #button-container button {
  background-color: unset;
  border: none;
  color: white;
  padding: 0;
}

#nnryv-open #button-container button>* {
  min-height: 16px;
}